<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="latinDictionary" class="com.exemple.dictionary.LatinDictionary"/>

    <bean id="numDictionary" class="com.exemple.dictionary.NumDictionary"/>

    <bean id="dictionaryMenu" class="com.exemple.menu.DictionaryMenu">
        <constructor-arg ref="latinDictionary"/>
        <constructor-arg ref="numDictionary"/>
    </bean>

</beans>